src/wslWebService/wsdl/AmendmentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://WSLWebServices.leg.wa.gov/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://WSLWebServices.leg.wa.gov/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Information on Amendments to legislation considered by the Washington State Legislature.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://WSLWebServices.leg.wa.gov/">
      <s:element name="GetAmendments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAmendmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAmendmentsResult" type="tns:ArrayOfAmendment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAmendment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Amendment" nillable="true" type="tns:Amendment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Amendment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BillNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LegislativeSession" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FloorNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SponsorName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Drafter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FloorAction" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FloorActionDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DocumentExists" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="HtmUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PdfUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Agency" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfAmendment" nillable="true" type="tns:ArrayOfAmendment" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAmendmentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAmendments" />
  </wsdl:message>
  <wsdl:message name="GetAmendmentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAmendmentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAmendmentsHttpGetIn">
    <wsdl:part name="year" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAmendmentsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfAmendment" />
  </wsdl:message>
  <wsdl:message name="GetAmendmentsHttpPostIn">
    <wsdl:part name="year" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAmendmentsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfAmendment" />
  </wsdl:message>
  <wsdl:portType name="AmendmentServiceSoap">
    <wsdl:operation name="GetAmendments">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns list of amendments submitted to the rostrum during the year. &lt;BR&gt;Exception thrown for invalid year.</wsdl:documentation>
      <wsdl:input message="tns:GetAmendmentsSoapIn" />
      <wsdl:output message="tns:GetAmendmentsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AmendmentServiceHttpGet">
    <wsdl:operation name="GetAmendments">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns list of amendments submitted to the rostrum during the year. &lt;BR&gt;Exception thrown for invalid year.</wsdl:documentation>
      <wsdl:input message="tns:GetAmendmentsHttpGetIn" />
      <wsdl:output message="tns:GetAmendmentsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AmendmentServiceHttpPost">
    <wsdl:operation name="GetAmendments">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns list of amendments submitted to the rostrum during the year. &lt;BR&gt;Exception thrown for invalid year.</wsdl:documentation>
      <wsdl:input message="tns:GetAmendmentsHttpPostIn" />
      <wsdl:output message="tns:GetAmendmentsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AmendmentServiceSoap" type="tns:AmendmentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAmendments">
      <soap:operation soapAction="http://WSLWebServices.leg.wa.gov/GetAmendments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AmendmentServiceSoap12" type="tns:AmendmentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAmendments">
      <soap12:operation soapAction="http://WSLWebServices.leg.wa.gov/GetAmendments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AmendmentServiceHttpGet" type="tns:AmendmentServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetAmendments">
      <http:operation location="/GetAmendments" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AmendmentServiceHttpPost" type="tns:AmendmentServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetAmendments">
      <http:operation location="/GetAmendments" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AmendmentService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Information on Amendments to legislation considered by the Washington State Legislature.</wsdl:documentation>
    <wsdl:port name="AmendmentServiceSoap" binding="tns:AmendmentServiceSoap">
      <soap:address location="https://wslwebservices.leg.wa.gov/AmendmentService.asmx" />
    </wsdl:port>
    <wsdl:port name="AmendmentServiceSoap12" binding="tns:AmendmentServiceSoap12">
      <soap12:address location="https://wslwebservices.leg.wa.gov/AmendmentService.asmx" />
    </wsdl:port>
    <wsdl:port name="AmendmentServiceHttpGet" binding="tns:AmendmentServiceHttpGet">
      <http:address location="https://wslwebservices.leg.wa.gov/AmendmentService.asmx" />
    </wsdl:port>
    <wsdl:port name="AmendmentServiceHttpPost" binding="tns:AmendmentServiceHttpPost">
      <http:address location="https://wslwebservices.leg.wa.gov/AmendmentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>