src/wslWebService/wsdl/CommitteeMeetingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://WSLWebServices.leg.wa.gov/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://WSLWebServices.leg.wa.gov/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Information on committee meetings of the Washington State Legislature.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://WSLWebServices.leg.wa.gov/">
      <s:element name="GetCommitteeMeetings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="beginDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommitteeMeetingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCommitteeMeetingsResult" type="tns:ArrayOfCommitteeMeeting" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCommitteeMeeting">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CommitteeMeeting" nillable="true" type="tns:CommitteeMeeting" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CommitteeMeeting">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AgendaId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Agency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Committees" type="tns:ArrayOfCommittee" />
          <s:element minOccurs="0" maxOccurs="1" name="Room" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Building" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ZipCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Cancelled" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RevisedDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactInformation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommitteeType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCommittee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Committee" nillable="true" type="tns:Committee" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Committee">
        <s:complexContent mixed="false">
          <s:extension base="tns:LegislativeEntity">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="LegislativeEntity">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LongName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Agency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Acronym" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRevisedCommitteeMeetings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="changedSinceDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRevisedCommitteeMeetingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRevisedCommitteeMeetingsResult" type="tns:ArrayOfCommitteeMeeting" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommitteeMeetingItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="agendaId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommitteeMeetingItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCommitteeMeetingItemsResult" type="tns:ArrayOfCommitteeMeetingItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCommitteeMeetingItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CommitteeMeetingItem" nillable="true" type="tns:CommitteeMeetingItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CommitteeMeetingItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AgendaId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HearingType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HearingTypeDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Order" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Biennium" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SortOrderString" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfCommitteeMeeting" nillable="true" type="tns:ArrayOfCommitteeMeeting" />
      <s:element name="ArrayOfCommitteeMeetingItem" nillable="true" type="tns:ArrayOfCommitteeMeetingItem" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCommitteeMeetingsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCommitteeMeetings" />
  </wsdl:message>
  <wsdl:message name="GetCommitteeMeetingsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCommitteeMeetingsResponse" />
  </wsdl:message>
  <wsdl:message name="GetRevisedCommitteeMeetingsSoapIn">
    <wsdl:part name="parameters" element="tns:GetRevisedCommitteeMeetings" />
  </wsdl:message>
  <wsdl:message name="GetRevisedCommitteeMeetingsSoapOut">
    <wsdl:part name="parameters" element="tns:GetRevisedCommitteeMeetingsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCommitteeMeetingItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCommitteeMeetingItems" />
  </wsdl:message>
  <wsdl:message name="GetCommitteeMeetingItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCommitteeMeetingItemsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCommitteeMeetingsHttpGetIn">
    <wsdl:part name="beginDate" type="s:string" />
    <wsdl:part name="endDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCommitteeMeetingsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCommitteeMeeting" />
  </wsdl:message>
  <wsdl:message name="GetRevisedCommitteeMeetingsHttpGetIn">
    <wsdl:part name="changedSinceDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRevisedCommitteeMeetingsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCommitteeMeeting" />
  </wsdl:message>
  <wsdl:message name="GetCommitteeMeetingItemsHttpGetIn">
    <wsdl:part name="agendaId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCommitteeMeetingItemsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCommitteeMeetingItem" />
  </wsdl:message>
  <wsdl:message name="GetCommitteeMeetingsHttpPostIn">
    <wsdl:part name="beginDate" type="s:string" />
    <wsdl:part name="endDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCommitteeMeetingsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCommitteeMeeting" />
  </wsdl:message>
  <wsdl:message name="GetRevisedCommitteeMeetingsHttpPostIn">
    <wsdl:part name="changedSinceDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRevisedCommitteeMeetingsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCommitteeMeeting" />
  </wsdl:message>
  <wsdl:message name="GetCommitteeMeetingItemsHttpPostIn">
    <wsdl:part name="agendaId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCommitteeMeetingItemsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCommitteeMeetingItem" />
  </wsdl:message>
  <wsdl:portType name="CommitteeMeetingServiceSoap">
    <wsdl:operation name="GetCommitteeMeetings">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of Committee Meetings for a given date range. &lt;BR&gt;Exception thrown for invalid date range.</wsdl:documentation>
      <wsdl:input message="tns:GetCommitteeMeetingsSoapIn" />
      <wsdl:output message="tns:GetCommitteeMeetingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRevisedCommitteeMeetings">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of Committee Meetings that have been revised since a given date.</wsdl:documentation>
      <wsdl:input message="tns:GetRevisedCommitteeMeetingsSoapIn" />
      <wsdl:output message="tns:GetRevisedCommitteeMeetingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommitteeMeetingItems">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of meeting items for a specific Committee Meeting.</wsdl:documentation>
      <wsdl:input message="tns:GetCommitteeMeetingItemsSoapIn" />
      <wsdl:output message="tns:GetCommitteeMeetingItemsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CommitteeMeetingServiceHttpGet">
    <wsdl:operation name="GetCommitteeMeetings">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of Committee Meetings for a given date range. &lt;BR&gt;Exception thrown for invalid date range.</wsdl:documentation>
      <wsdl:input message="tns:GetCommitteeMeetingsHttpGetIn" />
      <wsdl:output message="tns:GetCommitteeMeetingsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRevisedCommitteeMeetings">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of Committee Meetings that have been revised since a given date.</wsdl:documentation>
      <wsdl:input message="tns:GetRevisedCommitteeMeetingsHttpGetIn" />
      <wsdl:output message="tns:GetRevisedCommitteeMeetingsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommitteeMeetingItems">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of meeting items for a specific Committee Meeting.</wsdl:documentation>
      <wsdl:input message="tns:GetCommitteeMeetingItemsHttpGetIn" />
      <wsdl:output message="tns:GetCommitteeMeetingItemsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CommitteeMeetingServiceHttpPost">
    <wsdl:operation name="GetCommitteeMeetings">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of Committee Meetings for a given date range. &lt;BR&gt;Exception thrown for invalid date range.</wsdl:documentation>
      <wsdl:input message="tns:GetCommitteeMeetingsHttpPostIn" />
      <wsdl:output message="tns:GetCommitteeMeetingsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRevisedCommitteeMeetings">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of Committee Meetings that have been revised since a given date.</wsdl:documentation>
      <wsdl:input message="tns:GetRevisedCommitteeMeetingsHttpPostIn" />
      <wsdl:output message="tns:GetRevisedCommitteeMeetingsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommitteeMeetingItems">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of meeting items for a specific Committee Meeting.</wsdl:documentation>
      <wsdl:input message="tns:GetCommitteeMeetingItemsHttpPostIn" />
      <wsdl:output message="tns:GetCommitteeMeetingItemsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommitteeMeetingServiceSoap" type="tns:CommitteeMeetingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCommitteeMeetings">
      <soap:operation soapAction="http://WSLWebServices.leg.wa.gov/GetCommitteeMeetings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRevisedCommitteeMeetings">
      <soap:operation soapAction="http://WSLWebServices.leg.wa.gov/GetRevisedCommitteeMeetings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommitteeMeetingItems">
      <soap:operation soapAction="http://WSLWebServices.leg.wa.gov/GetCommitteeMeetingItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommitteeMeetingServiceSoap12" type="tns:CommitteeMeetingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCommitteeMeetings">
      <soap12:operation soapAction="http://WSLWebServices.leg.wa.gov/GetCommitteeMeetings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRevisedCommitteeMeetings">
      <soap12:operation soapAction="http://WSLWebServices.leg.wa.gov/GetRevisedCommitteeMeetings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommitteeMeetingItems">
      <soap12:operation soapAction="http://WSLWebServices.leg.wa.gov/GetCommitteeMeetingItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommitteeMeetingServiceHttpGet" type="tns:CommitteeMeetingServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetCommitteeMeetings">
      <http:operation location="/GetCommitteeMeetings" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRevisedCommitteeMeetings">
      <http:operation location="/GetRevisedCommitteeMeetings" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommitteeMeetingItems">
      <http:operation location="/GetCommitteeMeetingItems" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommitteeMeetingServiceHttpPost" type="tns:CommitteeMeetingServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetCommitteeMeetings">
      <http:operation location="/GetCommitteeMeetings" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRevisedCommitteeMeetings">
      <http:operation location="/GetRevisedCommitteeMeetings" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommitteeMeetingItems">
      <http:operation location="/GetCommitteeMeetingItems" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommitteeMeetingService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Information on committee meetings of the Washington State Legislature.</wsdl:documentation>
    <wsdl:port name="CommitteeMeetingServiceSoap" binding="tns:CommitteeMeetingServiceSoap">
      <soap:address location="https://wslwebservices.leg.wa.gov/CommitteeMeetingService.asmx" />
    </wsdl:port>
    <wsdl:port name="CommitteeMeetingServiceSoap12" binding="tns:CommitteeMeetingServiceSoap12">
      <soap12:address location="https://wslwebservices.leg.wa.gov/CommitteeMeetingService.asmx" />
    </wsdl:port>
    <wsdl:port name="CommitteeMeetingServiceHttpGet" binding="tns:CommitteeMeetingServiceHttpGet">
      <http:address location="https://wslwebservices.leg.wa.gov/CommitteeMeetingService.asmx" />
    </wsdl:port>
    <wsdl:port name="CommitteeMeetingServiceHttpPost" binding="tns:CommitteeMeetingServiceHttpPost">
      <http:address location="https://wslwebservices.leg.wa.gov/CommitteeMeetingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>