src/wslWebService/wsdl/RcwCiteAffectedService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://WSLWebServices.leg.wa.gov/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://WSLWebServices.leg.wa.gov/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Information on RCW cites affected by legislation of the Washington State Legislature.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://WSLWebServices.leg.wa.gov/">
      <s:element name="GetLegislationAffectingRcwCite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="biennium" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rcwCite" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLegislationAffectingRcwCiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLegislationAffectingRcwCiteResult" type="tns:ArrayOfLegislationInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLegislationInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LegislationInfo" nillable="true" type="tns:LegislationInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LegislationInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Biennium" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BillNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SubstituteVersion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EngrossedVersion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ShortLegislationType" type="tns:LegislationType" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginalAgency" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LegislationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ShortLegislationType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LongLegislationType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLegislationAffectingRcw">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="biennium" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rcwCite" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLegislationAffectingRcwResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLegislationAffectingRcwResult" type="tns:ArrayOfLegislationInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfLegislationInfo" nillable="true" type="tns:ArrayOfLegislationInfo" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLegislationAffectingRcwCiteSoapIn">
    <wsdl:part name="parameters" element="tns:GetLegislationAffectingRcwCite" />
  </wsdl:message>
  <wsdl:message name="GetLegislationAffectingRcwCiteSoapOut">
    <wsdl:part name="parameters" element="tns:GetLegislationAffectingRcwCiteResponse" />
  </wsdl:message>
  <wsdl:message name="GetLegislationAffectingRcwSoapIn">
    <wsdl:part name="parameters" element="tns:GetLegislationAffectingRcw" />
  </wsdl:message>
  <wsdl:message name="GetLegislationAffectingRcwSoapOut">
    <wsdl:part name="parameters" element="tns:GetLegislationAffectingRcwResponse" />
  </wsdl:message>
  <wsdl:message name="GetLegislationAffectingRcwCiteHttpGetIn">
    <wsdl:part name="biennium" type="s:string" />
    <wsdl:part name="rcwCite" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLegislationAffectingRcwCiteHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfLegislationInfo" />
  </wsdl:message>
  <wsdl:message name="GetLegislationAffectingRcwHttpGetIn">
    <wsdl:part name="biennium" type="s:string" />
    <wsdl:part name="rcwCite" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLegislationAffectingRcwHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfLegislationInfo" />
  </wsdl:message>
  <wsdl:message name="GetLegislationAffectingRcwCiteHttpPostIn">
    <wsdl:part name="biennium" type="s:string" />
    <wsdl:part name="rcwCite" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLegislationAffectingRcwCiteHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfLegislationInfo" />
  </wsdl:message>
  <wsdl:message name="GetLegislationAffectingRcwHttpPostIn">
    <wsdl:part name="biennium" type="s:string" />
    <wsdl:part name="rcwCite" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLegislationAffectingRcwHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfLegislationInfo" />
  </wsdl:message>
  <wsdl:portType name="RcwCiteAffectedServiceSoap">
    <wsdl:operation name="GetLegislationAffectingRcwCite">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns legislation that affect the RCW Cite. &lt;BR&gt;Exception thrown for invalid biennium or rcwCite. &lt;BR&gt;Expects biennium to be in the format: 2005-06</wsdl:documentation>
      <wsdl:input message="tns:GetLegislationAffectingRcwCiteSoapIn" />
      <wsdl:output message="tns:GetLegislationAffectingRcwCiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLegislationAffectingRcw">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns legislation that affect the RCW within the title, chapter, or section. &lt;BR&gt;Exception thrown for invalid biennium or rcwCite. &lt;BR&gt;Expects biennium to be in the format: 2005-06</wsdl:documentation>
      <wsdl:input message="tns:GetLegislationAffectingRcwSoapIn" />
      <wsdl:output message="tns:GetLegislationAffectingRcwSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RcwCiteAffectedServiceHttpGet">
    <wsdl:operation name="GetLegislationAffectingRcwCite">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns legislation that affect the RCW Cite. &lt;BR&gt;Exception thrown for invalid biennium or rcwCite. &lt;BR&gt;Expects biennium to be in the format: 2005-06</wsdl:documentation>
      <wsdl:input message="tns:GetLegislationAffectingRcwCiteHttpGetIn" />
      <wsdl:output message="tns:GetLegislationAffectingRcwCiteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLegislationAffectingRcw">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns legislation that affect the RCW within the title, chapter, or section. &lt;BR&gt;Exception thrown for invalid biennium or rcwCite. &lt;BR&gt;Expects biennium to be in the format: 2005-06</wsdl:documentation>
      <wsdl:input message="tns:GetLegislationAffectingRcwHttpGetIn" />
      <wsdl:output message="tns:GetLegislationAffectingRcwHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RcwCiteAffectedServiceHttpPost">
    <wsdl:operation name="GetLegislationAffectingRcwCite">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns legislation that affect the RCW Cite. &lt;BR&gt;Exception thrown for invalid biennium or rcwCite. &lt;BR&gt;Expects biennium to be in the format: 2005-06</wsdl:documentation>
      <wsdl:input message="tns:GetLegislationAffectingRcwCiteHttpPostIn" />
      <wsdl:output message="tns:GetLegislationAffectingRcwCiteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLegislationAffectingRcw">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns legislation that affect the RCW within the title, chapter, or section. &lt;BR&gt;Exception thrown for invalid biennium or rcwCite. &lt;BR&gt;Expects biennium to be in the format: 2005-06</wsdl:documentation>
      <wsdl:input message="tns:GetLegislationAffectingRcwHttpPostIn" />
      <wsdl:output message="tns:GetLegislationAffectingRcwHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RcwCiteAffectedServiceSoap" type="tns:RcwCiteAffectedServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLegislationAffectingRcwCite">
      <soap:operation soapAction="http://WSLWebServices.leg.wa.gov/GetLegislationAffectingRcwCite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLegislationAffectingRcw">
      <soap:operation soapAction="http://WSLWebServices.leg.wa.gov/GetLegislationAffectingRcw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RcwCiteAffectedServiceSoap12" type="tns:RcwCiteAffectedServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLegislationAffectingRcwCite">
      <soap12:operation soapAction="http://WSLWebServices.leg.wa.gov/GetLegislationAffectingRcwCite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLegislationAffectingRcw">
      <soap12:operation soapAction="http://WSLWebServices.leg.wa.gov/GetLegislationAffectingRcw" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RcwCiteAffectedServiceHttpGet" type="tns:RcwCiteAffectedServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetLegislationAffectingRcwCite">
      <http:operation location="/GetLegislationAffectingRcwCite" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLegislationAffectingRcw">
      <http:operation location="/GetLegislationAffectingRcw" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RcwCiteAffectedServiceHttpPost" type="tns:RcwCiteAffectedServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetLegislationAffectingRcwCite">
      <http:operation location="/GetLegislationAffectingRcwCite" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLegislationAffectingRcw">
      <http:operation location="/GetLegislationAffectingRcw" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RcwCiteAffectedService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Information on RCW cites affected by legislation of the Washington State Legislature.</wsdl:documentation>
    <wsdl:port name="RcwCiteAffectedServiceSoap" binding="tns:RcwCiteAffectedServiceSoap">
      <soap:address location="https://wslwebservices.leg.wa.gov/RcwCiteAffectedService.asmx" />
    </wsdl:port>
    <wsdl:port name="RcwCiteAffectedServiceSoap12" binding="tns:RcwCiteAffectedServiceSoap12">
      <soap12:address location="https://wslwebservices.leg.wa.gov/RcwCiteAffectedService.asmx" />
    </wsdl:port>
    <wsdl:port name="RcwCiteAffectedServiceHttpGet" binding="tns:RcwCiteAffectedServiceHttpGet">
      <http:address location="https://wslwebservices.leg.wa.gov/RcwCiteAffectedService.asmx" />
    </wsdl:port>
    <wsdl:port name="RcwCiteAffectedServiceHttpPost" binding="tns:RcwCiteAffectedServiceHttpPost">
      <http:address location="https://wslwebservices.leg.wa.gov/RcwCiteAffectedService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>